.header
{
    background:#1BA1E2 !important;
}


.btn-lignes {
    width:24px !important;
    height:24px !important;
    background-image:url(../img/btn-lignes.png) !important;
    color:rgb(0,255,255,255) !important;
    background-color:white !important;
    background-size:90% 90% !important;
    background-repeat:no-repeat;
    padding:10px;
    margin:10px !important;
    font-size:0px !important;
    border-radius:4px !important;
    background-position:center; 
    
}
.btn-arrets-proches
{
    width:24px !important;
    height:24px !important;
    background-image:url(../img/btn-arrets-proches.png) !important;
    color:rgb(0,255,255,255) !important;
    background-color:white !important;
    background-size:90% 90% !important;
    background-repeat:no-repeat;
    padding:10px;
    margin:10px !important;
    font-size:0px !important;
    border-radius:4px !important;
    background-position:center; 
}


.ui-content
{
    height:100%;
    width:100% !important;
    position:absolute;
    padding: 0 !important;
}
.ui-panel-inner 
{
    padding:0 !important;   
}
#map
{
    width:100%;
    height:100%;
}
.btn-lignes
{
    float:left;
    margin-top:6px !important;
}
.btn-arrets-proches
{
    float:right;
    margin-top:6px !important;
}
.btn-localiser
{
    margin-left:auto !important;
    margin-right:auto !important;
    width:300px;
    display:block !important;
}
.map-labels
{
    background:white;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

[data-role=page] {
    min-height: 100%;
    position: relative;
}

[data-role=content] {
    padding-bottom: 40px; /* based on how tall your footer is and how much gap you want */
}

[data-role=footer] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px /* this can be configurable, or omitted, as long as the above padding-bottom is at least as much as the height of the footer is */
}
.velo-icon:after {
    background-image: url("../img/bicycle.png");
    /* Make your icon fit */
    background-size: 20px 20px;
    background-color:transparent !important;
    border-radius:0 !important;
    position:absolute;
    right:80px;
    float:right;
    
}
#liste_horaires .ui-btn-icon-right
{
    padding-right:0 !important;
}
#liste_horaires .ui-btn::after
{
    opacity:0 !important;
}
